@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #b92056;
  --orange: #e85627;
  --yellow: #f0b54d;
  --green: #67b9a9;

  --purple: #682957;
  --blue: #2b5983;
}

body {
  cursor: url('/cursor.png') 32 32, auto;
  background-color: var(--blue);
  min-height: 100vh;
}

.font-glory {
  font-family: var(--font-give-you-glory);
}

.font-creepster {
  font-family: var(--font-creepster);
}

.font-eater {
  font-family: var(--font-eater);
}
.font-mynerve {
  font-family: var(--font-mynerve);
}
